.alaune{
    font: 400 30px/1.27 LouvreSerif,Georgia, 'Times New Roman', serif;
    text-transform: uppercase;
}
.word{
    color: aliceblue;
    padding-top: 70px;
    padding-left: 20px;
}
.ex{
    font-size: 10px;
    font-family: Roboto,Open-Sans,Arial, Helvetica, sans-serif;
    font-weight:700;
}
